# Odoo Configuration
HOST=postgres
USER=odoo
PASSWORD=odoo

# SaaS Mapping Database Configuration
SAAS_MAPPING_DB_HOST=postgres
SAAS_MAPPING_DB_PORT=5432
SAAS_MAPPING_DB_NAME=app
SAAS_MAPPING_DB_USER=app
SAAS_MAPPING_DB_PASSWORD=app_password